services:
  app:
    build: .
    container_name: nest-auth-app
    env_file: .env
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - postgres
      - mailhog
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    command: sh -c "npm install && npm run start:dev"

  postgres:
    image: postgres:16-alpine
    container_name: nest-auth-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT_EXT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - postgres

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: nest-auth-mailhog
    ports:
      - "${MAILHOG_WEBUI_PORT}:8025"  # Web UI
      - "${MAILHOG_SMTP_PORT}:1025"  # SMTP

volumes:
  pgdata:
